# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environnement
.env
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Data et Models (ne pas commit les gros fichiers)
data/raw/*.csv
data/processed/*.csv
models/*.joblib
models/*.pkl

# Logs
logs/*.log
*.log

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Tests
.pytest_cache/
.coverage
htmlcov/
deployment/
